body {
  background-color: #00461882;
  font-family: 'Alice', serif;
  line-height: 15px
}

h1 {
  text-align: center;
  font-size: 52px; 
  font-family: 'Playfair Display', serif;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}

li {
  margin-top: 5px; 
}

.cookies {
  margin-left: 15px;
  border: 1px solid white;
}
h3 {
  text-align: center;
}
ul {
  margin-left: 35px;
}

CODEPEN
