body {
  background-color: #00461882;
  font-family: 'Alice', serif;
}

h1 {
  text-align: center;
  font-size: 52px; 
  font-family: 'Playfair Display', serif;
}

h2 {
  text-align: left;
  margin-left: 50px;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
}

.cookies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding-bottom: 40px;
}
h3 {
  text-align: left;
  padding-top: 40px;
  margin-left: 50px;
}

ul, ol {
  margin-left: 50px;
  line-height: 25px;
}

.dry {
  margin-left: 45px;
  height: 300px;
  width: 300px;
}

.dough {
  margin-left: 45px;
  height: 300px;
  width: 300px;


CODEPEN
